.news-title{
   
    margin-left: 350px;
    color: blue;
    top:50px;
    /* left:80px; */
    position:absolute;
}
/* .category-header{
    /* background-color: black; */
/* } */ */

.card-margin{
    margin-top: 100px;
}

.stories-header{
    padding: 5% 0;
}