body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.addrep-bg{
  background: url(http://localhost:5000/images/backpattern.png);
}
.title-current{
  height: 100px;
  background-color:blue;
  background-image: url(http://localhost:5000/images/manage.jpg);
}
.nav-link{
color:white;
  height:3rem;
  display: flex;
  font-size:1rem;
  max-width: 100%;
  font-family:"Jost", sans-serif;
  padding:1rem;
  box-sizing: border-box;
  transition:0.5sec;


  }
.active{
  background-color: rgba(0, 0, 0, 0.192);
}
.hover{
color:whitesmoke;
}
.back-img{
  background: url(http://localhost:5000/images/background.jpg);
 height: 800px;
}
.manage-users{
  background: url(http://localhost:5000/images/patternback.png);
  max-width: 5rem;
}
.login{
  background: url(http://localhost:5000/images/background.jpg);
  padding-left: 200px;
  padding-top: 40px;
  padding-bottom:90px;
  padding-right: 50px;
  background-position: set;
  
}
.logg{
 max-width:850px;
 padding-right: 0px;
}
.signup{
  max-width:800px;
  background-position: set;
  padding-top: 1rem;

}
.signback{
  background: url(http://localhost:5000/images/backcover.webp);
  padding-left: 200px;
  padding-top: 40px;
  padding-bottom:90px;
  padding-right: 50px;
  
}
.addrep-bg{
  background: url(http://localhost:5000/images/backcover.webp);
  box-shadow: 10px;
  padding-left: 45px;
  padding-right: 5px;

}
.manage-rep{
  background: url(http://localhost:5000/images/reporter.jpg);
  height: 100px;
  background-color:blue;
  

}
.loginn{
  background: url(http://localhost:5000/images/backk.jpg);
  padding-left: 10rem;
  padding-top: 40px;
  padding-bottom:15rem;
  padding-right: 50px;
  
  

}
.current{
  background: url(http://localhost:5000/images/backcurrent.webp);
  padding-left: 6rem;

}
.lucknow{
  background: url(http://localhost:5000/images/lko.jpg) no-repeat center center fixed;
  padding-left: 6rem;
  /* background-repeat: no-repeat; */
  background-size: cover;
  
 

}
.top-stories{
  
    background: url(http://localhost:5000/images/patterntop.png);
  }
  .lko{
    
    background: url(http://localhost:5000/images/patterntop.png);
    height: 100px;
    background-color:blue;
    

  }
  
  

