body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.title-current{
  height: 170px;
 
  background-image: url(http://localhost:5000/images/ccc.jpg);
}
.nav-link{
color:white;
  height:3rem;
  display: flex;
  font-size:1rem;
  max-width: 100%;
  font-family:"Jost", sans-serif;
  padding:1rem;
  box-sizing: border-box;
  transition:0.5sec;


  }
.active{
  background-color: rgba(0, 0, 0, 0.192);
}
.hover{
color:whitesmoke;
}
.back-img{
  background: url(http://localhost:5000/images/background.jpg);
 height: 800px;
}
.manage-users{
  background: url(http://localhost:5000/images/patternback.png);
  max-width: 5rem;
}

.logg{
 max-width:850px;
 margin-top:2rem;
 margin-left:10rem;
 margin-bottom: 5rem;

}
.signup{
  max-width:800px;
  background-position: set;
  padding-top:1rem;
  margin-bottom: 5rem;

}
.signback{
  background: url(http://localhost:5000/images/backcover.webp);
  padding-left: 200px;
  padding-top: 40px;
  padding-bottom:90px;
  padding-right: 50px;
  background-size:cover
  
}
.addrep-bg{
  background:  url(http://localhost:5000/images/backcover.webp);
  background-position: top;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.329);
  /* padding-left: 45px;
  padding-right: 5px; */
  padding-top: 2rem;

}

.add-news-top{
  padding: 4rem;
  text-align: center;
  color: white;
  background: linear-gradient(to right, #0000006e, #0000006e), url(http://localhost:5000/images/addnews.jpg);
  background-size: cover;
  background-position: top;
}

.loginn{
  background: url(http://localhost:5000/images/backk.jpg);
}
.current{
  background: url(http://localhost:5000/images/backcurrent.webp);
 

 

}

 
  
  .cardview{
    margin:auto;
  }
  .manage-news{
    background: url(http://localhost:5000/images/managenews.jpeg);
    height: 250px;
    background-position: top;
    align-content: center;
    
    
  }
  .rep-login{
    background: url(https://i.pinimg.com/736x/4f/96/1d/4f961dac467855fe2ad7bc042d34809b.jpg);
    background-size: cover;
    /* padding-left: 10rem;
    padding-right: 40px; */
    height: 100vh;
  }
  .newsmanage{
    
    text-align: center;
    color: white;
  background-size: cover;
  background-position: top;

  }
  .caffairs-header{
    background: linear-gradient(to right, #0000009b, #000000ad), url(http://localhost:5000/images/caffair.jpg);
    padding: 2rem;
    text-shadow: 2px 2px 3px #0000005c;
  }
  .lucknow-header{
    background: linear-gradient(to right, #0000009b, #000000ad), url(http://localhost:5000/images/wall.jpg);
    padding: 2rem;
    text-shadow: 2px 2px 3px #0000005c;
  }
  .archieve-header{
    background: linear-gradient(to right, #0000009b, #000000ad), url(http://localhost:5000/images/archieve.jpg);
    padding: 2rem;
    text-shadow: 2px 2px 3px #0000005c;
  }
  .stories-header{
    background: linear-gradient(to right, #0000009b, #000000ad), url(http://localhost:5000/images/topstories.jpg);
    padding: 2rem;
    text-shadow: 2px 2px 3px #0000005c;
  }
  .reporters{
    background: linear-gradient(to right, #0000009b, #000000ad), url(http://localhost:5000/images/managereporters.webp);
    padding: 2rem;
    text-shadow: 2px 2px 3px #0000005c;
    height: 800px;

  }
  .news-back{
    background: linear-gradient(to right, #0000009b, #000000ad), url(http://localhost:5000/images/managing.jpg);
    padding: 2rem;
    text-shadow: 2px 2px 3px #0000005c;
    height: 100%;
    
  

  }
  .lkonews-back{
    background: linear-gradient(to right, #0000009b, #000000ad), url(http://localhost:5000/images/lkoo.jpg);
    padding: 2rem;
    text-shadow: 2px 2px 3px #0000005c;
    height: 800px;
    background-size: cover;
    

  }
 .current-back{
  background: linear-gradient(to right, #0000009b, #000000ad), url(http://localhost:5000/images/currentaffair.jpg);
  padding: 2rem;
  text-shadow: 2px 2px 3px #0000005c;
  height: 100%;


 }
 .users-back{
  background: linear-gradient(to right, #0000009b, #000000ad), url(http://localhost:5000/images/users.png);
  padding: 2rem;
  text-shadow: 2px 2px 3px #0000005c;
  height: 800px;


 }
 .nmanage{
   color: white;
   padding-left: 18rem; 
   
 }
 .lnmanage{
  color: white;
  padding-left: 18rem; 
 }
 .img-slider{
   box-shadow:rgb(149,157 ,165,0.2) 0px 8px 24px;
   animation:changeImage 20s linear infinite;
   display:grid;
  
 } 
 
      .footer-bottom{
        height:3vh;
        background-color: red;
      }
      .custom{
        background-color:rgb(80, 4, 4);
        color:white;
        font-size:13px;
        border: 2px solid black;
        border-radius: 2px;
      }
      .custom:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition-duration: 0.4s;


      }
      .custom1{
        color:rgb(80, 4, 4);
      }
      .categories{
        color: rgb(80, 4, 4);
        padding-bottom: 5px;
        margin-left: 2rem; 
        /* background: url(http://localhost:5000/images/cat.jpg);  */
        height:1000px;
       
      }
      
       .sub-category{
        color:white;
      } 
.title{
  text-align: justify;
}
.view{
  width:50%;
  height: 150px;
  
}

.logo{
  width:100px;
}
.footer-top{
  padding-top:1rem;
}
.category-header{
  margin-top: 3rem;
  font-weight:bolder;
  font-size: larger;
  
 
  
}
.header-cat{
  padding:3rem;
}
